<div class="sign-in">
  <v-ons-page class="Page-MT">
    <div class="sign-in-inner-section">
      <div class="main-section">
        <div class="img-section">
          <div class="back-img"></div>
          <!-- <p>Welcome to IPDC Reporting System</p> -->
        </div>
        <div class="btn-section">
          <!-- <v-btn class="sign-in-btn" @click="auth0Login()"> -->
          <v-btn class="sign-in-btn" @click="Ilogin()">
            <i class="fas fa-sign-in-alt"></i>
            <span>Please sign in</span>
          </v-btn>
        </div>
      </div>
    </div>
  </v-ons-page>
</div>