<div class="member">
  <v-container class="container head-container">
    <div class="content-div">
      <form class="form-cls" @submit.prevent="onSubmit">
        <v-subheader class="v-subheader content-header">
          <div class="left" @click="backButton">
            <ons-back-button></ons-back-button>
          </div>
          MasjidProject
          <v-spacer />
        </v-subheader>
        <v-row class="row form-row">
          <v-col class="col-field col col-12">
            <label>Worker Promise Increase Target</label>
            <input name="workerPromiseIncreaseTarget" v-model="workerPromiseIncreaseTarget"
              label="Worker Promise Increase Target" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12">
            <label>Action</label>
            <input name="action" v-model="action" label="Action" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12">
            <label>Other Source Increase Target</label>
            <input name="otherSourceIncreaseTarget" v-model="otherSourceIncreaseTarget"
              label="Other Source Increase Target" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12">
            <label>Other Source Action</label>
            <input name="otherSourceAction" v-model="otherSourceAction" label="Other Source Action" placeholder=""
              single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Total Increase Target</label>
            <input name="totalIncreaseTarget" v-model="totalIncreaseTarget" label="Total Increase Target" placeholder=""
              single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise Last Period</label>
            <input name="workerPromiseLastPeriod" v-model="workerPromiseLastPeriod" label="Worker Promise Last Period"
              placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise This Period</label>
            <input name="workerPromiseThisPeriod" v-model="workerPromiseThisPeriod" label="Worker Promise This Period"
              placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Last Period</label>
            <input name="lastPeriod" v-model="lastPeriod" label="Last Period" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Collection</label>
            <input name="collection" v-model="collection" label="Collection" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Expense</label>
            <input name="expense" v-model="expense" label="Expense" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Nisab Paid To Central</label>
            <input name="nisabPaidToCentral" v-model="nisabPaidToCentral" label="" placeholder="Nisab Paid To Central"
              single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Balance</label>
            <input name="balance" v-model="balance" label="Balance" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise Increased</label>
            <input name="workerPromiseIncreased" v-model="workerPromiseIncreased" label="Worker Promise Increased"
              placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise Decreased</label>
            <input name="workerPromiseDecreased" v-model="workerPromiseDecreased" label="Worker Promise Decreased"
              placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Comment</label>
            <input name="comment" v-model="comment" label="Comment" placeholder="" single-line />
          </v-col>
          <button type="submit" large color="blue white--text" class="member save-btn">
            <i class="fas fa-cloud-upload-alt save-icon"></i>Save</button>
        </v-row>
      </form>
    </div>
  </v-container>
</div>