<div class="other">
  <v-container class="container head-container">
    <div class="content-div">
      <form class="form-cls" @submit.prevent="onSubmit">
        <v-subheader class="v-subheader content-header">
          <div class="left" @click="backButton">
            <ons-back-button></ons-back-button>
          </div>
          Other
          <v-spacer />
        </v-subheader>
        <v-row class="row form-row mb-0">
          <v-col class="col-field col col-12">
            <label>Target</label>
            <input name="target" id="target" v-model="target" label="Target" placeholder="" single-line :readonly="isEditable()" type="number" min="0"/>
          </v-col>
          <v-col class="col-field col col-12">
            <label>Date And Action</label>
            <input name="dateAndAction" id="dateAndAction" v-model="dateAndAction" label="Date And Action"
              placeholder="" single-line :readonly="isEditable()"/>
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Actual</label>
            <input name="actual" id="actual" v-model="actual" label="Actual" placeholder="" single-line :readonly="isEditable()" type="number" min="0"/>
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Comment</label>
            <input name="comment" id="comment" v-model="comment" label="Comment" placeholder="" single-line :readonly="isEditable()"/>
          </v-col>
          <button type="submit" large color="blue white--text" class="member save-btn"><i
              class="fas fa-cloud-upload-alt save-icon"></i>Save</button>
        </v-row>
      </form>
      <!-- <div class="reference-btn-section">
        <router-link to='/plan-and-report-edit/other'>
          <div class="row">
            <v-col cols="12" class="col-field col col-12">
              <v-text name="comment" v-model="comment" label="Comment" placeholder="Comment" single-line
                class="reference-btn">
                Go to >> Others
              </v-text>
            </v-col>
          </div>
        </router-link>
      </div> -->
    </div>
  </v-container>
</div>