<div class="member">
  <v-container class="container head-container">
    <div class="content-div">
      <form class="form-cls" @submit.prevent="onSubmit">
        <v-subheader class="v-subheader content-header">
          <div class="left" @click="backButton">
            <ons-back-button></ons-back-button>
          </div>
          MasjidTableBank
          <v-spacer />
        </v-subheader>
        <v-row class="row form-row">
          <v-col class="col-field col col-12">
            <label>Worker Promise Increase Target</label>
            <input name="workerPromiseIncreaseTarget" id="workerPromiseIncreaseTarget"
              v-model="workerPromiseIncreaseTarget" label="Worker Promise Increase Target" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12">
            <label>Action</label>
            <input name="action" id="action" v-model="action" label="Action" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12">
            <label>Other Source Increase Target</label>
            <input name="otherSourceIncreaseTarget" id="otherSourceIncreaseTarget" v-model="otherSourceIncreaseTarget"
              label="Other Source Increase Target" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12">
            <label>Other Source Action</label>
            <input name="otherSourceAction" id="otherSourceAction" v-model="otherSourceAction"
              label="Other Source Action" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Total Increase Target</label>
            <input name="totalIncreaseTarget" id="totalIncreaseTarget" v-model="totalIncreaseTarget"
              label="Total Increase Target" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise Last Period</label>
            <input name="workerPromiseLastPeriod" id="workerPromiseLastPeriod" v-model="workerPromiseLastPeriod"
              label="Worker Promise Last Period" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise This Period</label>
            <input name="workerPromiseThisPeriod" id="workerPromiseThisPeriod" v-model="workerPromiseThisPeriod"
              label="Worker Promise This Period" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Last Period</label>
            <input name="lastPeriod" id="lastPeriod" v-model="lastPeriod" label="Last Period" placeholder=""
              single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Collection</label>
            <input name="collection" id="collection" v-model="collection" label="Collection" placeholder=""
              single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Expense</label>
            <input name="expense" id="expense" v-model="expense" label="Expense" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Nisab Paid To Central</label>
            <input name="nisabPaidToCentral" id="nisabPaidToCentral" v-model="nisabPaidToCentral"
              label="Nisab Paid To Central" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Balance</label>
            <input name="balance" id="balance" v-model="balance" label="Balance" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise Increased</label>
            <input name="workerPromiseIncreased" id="workerPromiseIncreased" v-model="workerPromiseIncreased"
              label="Worker Promise Increased" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Worker Promise Decreased</label>
            <input name="workerPromiseDecreased" id="workerPromiseDecreased" v-model="workerPromiseDecreased"
              label="Worker Promise Decreased" placeholder="" single-line />
          </v-col>
          <v-col class="col-field col col-12" v-if="planOrReportTab === 'REPORT'">
            <label>Comment</label>
            <input name="comment" id="comment" v-model="comment" label="Comment" placeholder="" single-line />
          </v-col>
          <button type="submit" large color="blue white--text" class="member save-btn">
            <i class="fas fa-cloud-upload-alt save-icon"></i>Save</button>
        </v-row>
      </form>
      <!-- <div class="reference-btn-section">
        <router-link to='/plan-and-report-edit/social-welfare'>
          <div class="row">
            <v-col cols="12" class="col-field col col-12">
              <v-text name="comment" v-model="comment" label="Comment" placeholder="Comment" single-line
                class="reference-btn">
                Go to >> Regular &amp; Special Meetings/Programs
              </v-text>
            </v-col>
          </div>
        </router-link>
      </div> -->
    </div>
  </v-container>
</div>