<div class="other-meetings">
    <v-container class="head-container">
        <div class="content-div">
          <form class="form-cls" @submit.prevent="onSubmit">
            <v-subheader class="content-header">
              <div class="left" @click="backButton">
                  <ons-back-button>Reports</ons-back-button>
              </div>
              Other Meetings
            </v-subheader>
            <v-row class="form-row">
              <v-col cols="12" class="col-field">
                <input name="target" v-model="target" label="Target" placeholder="Target" single-line/>
              </v-col>
              <v-col cols="12" class="col-field">
                <input name="dateAndAction" v-model="dateAndAction" label="Date And Action" placeholder="Date And Action" single-line/>
              </v-col>
              <v-col cols="12" class="col-field" v-if="planOrReportTab === 'REPORT'">
                <input name="actual" v-model="actual" label="Actual" placeholder="Actual" single-line/>
              </v-col>
              <v-col cols="12" class="col-field" v-if="planOrReportTab === 'REPORT'">
                <input name="averageAttendance" v-model="averageAttendance" label="Average Attendance" placeholder="Average Attendance" single-line/>
              </v-col>
              <v-col cols="12" class="col-field" v-if="planOrReportTab === 'REPORT'">
                <input name="comment" v-model="comment" label="Comment" placeholder="Comment" single-line/>
              </v-col>
              <button type="submit" large color="blue white--text" class="member save-btn">Save</button>
            </v-row>
          </form>
          <router-link to='/plan-and-report-edit/teaching-and-learning-program' style="width: 100%;">
            <v-col cols="12" class="col-field" style="margin: 20px auto; text-align: center;">
              <v-text name="comment" v-model="comment" label="Comment" placeholder="Comment" single-line 
                      style="border: 2px solid #B2BEB5; padding: 4px 10px; border-radius: 6px; background-color: #B2BEB5; color: #ffffff;">
                Go to >> Teaching &amp; Learning Program
              </v-text>
            </v-col>
          </router-link>
        </div>
      </v-container>
</div>