<div class="input-field">
  <div class="input-header-section">
    <ons-back-button class="ons-back-btn" @click="backButton"></ons-back-button>
    <ons-list-header class="heading-title">Book Library</ons-list-header>
  </div>
  <form class="form-cls" @submit.prevent="onSubmit">
      <ons-list>
        <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
          <label class="ons-input-label">Last Period</label>
          <input name="lastPeriod" id="lastPeriod" v-model="lastPeriod" label="Last Period" placeholder="" single-line :readonly="isEditable()" type="number" min="0"/>
        </ons-list-item>
        <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
          <label class="ons-input-label">This Period</label>
          <input name="thisPeriod" id="thisPeriod" v-model="thisPeriod" label="This Period" placeholder="" single-line :readonly="isEditable()" type="number" min="0"/>
        </ons-list-item>
        <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
          <label class="ons-input-label">Increased</label>
          <input name="increased" id="increased" v-model="increased" label="Increased" placeholder="" single-line :readonly="isEditable()" type="number" min="0"/>
        </ons-list-item>
        <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
          <label class="ons-input-label">Decreased</label>
          <input name="decreased" id="decreased" v-model=" decreased" label="Decreased" placeholder="" single-line :readonly="isEditable()" type="number" min="0"/>
        </ons-list-item>
        <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
          <label class="ons-input-label">Comment</label>
          <input name="comment" id="comment" v-model="comment" label="Comment" placeholder="" single-line :readonly="isEditable()"/>
        </ons-list-item>
        <div class="field-save-btn">
          <button type="submit" large color="blue white--text" class="member save-btn" id="btn">
            <i class="fas fa-cloud-upload-alt save-icon"></i>Save</button>
        </div>
    </ons-list>
  </form>
</div>