<div class="input-field">
  <div class="progress-bar-section" v-if="progressbar">
    <div class="loader-section">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div class="input-header-section">
    <ons-back-button class="ons-back-btn" @click="backButton"></ons-back-button>
    <ons-list-header class="heading-title">Associate Member</ons-list-header>
  </div>
  <form class="form-cls" @submit.prevent="onSubmit">
    <div class="heading-subtitle">Manpower & Personal Contacts<span class="subtitle-status">{{ planOrReportTabStatusCreate(planOrReportTabStatus) }}</span></div>
    <ons-list>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
        <label class="ons-input-label">Last Period</label>
        <input type="number" name="lastPeriod" v-model="lastPeriod" label="Last Period" placeholder="" single-line
          id="lastPeriod" :readonly="isEditable() || planOrReportTab === 'REPORT'" min="0"
          onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" />
      </ons-list-item>
      <ons-list-item class="input-items">
        <label class="ons-input-label">Upgrade Target</label>
        <input type="number" name="target" v-model="target" label="Target" placeholder="" single-line id="target"
          :readonly="isEditable() || planOrReportTab === 'REPORT'" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  ondrop="return false;" onpaste="return false;"/>
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
        <label class="ons-input-label">Increased</label>
        <input type="number" name="increased" v-model="increased" label="Increased" placeholder="" single-line
          id="increased-am" :readonly="isEditable()" min="0" @keypress="memberIncreasedEdit($event)"
          onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  ondrop="return false;" onpaste="return false;"/>
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
        <label class="ons-input-label">Decreased</label>
        <input type="number" name="decreased" v-model="decreased" label="Decreased" placeholder="" single-line
          id="decreased-am" :readonly="isEditable()" min="0" @keypress="memberDecreasedEdit($event)"
          onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" ondrop="return false;" onpaste="return false;"/>
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
        <label class="ons-input-label">This Period</label>
        <span class="period-sec">
          <span class="default-value" v-if="defTarget" v-model="thisPeriod">{{ thisPeriod }}</span>
          <span class="decreased-value" v-if="!defTarget">{{ target }}</span>
          <span class="increased-value" v-if="!defTarget" v-model="thisPeriod">{{ increasedTargetVal }}</span>
        </span>
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
        <label class="ons-input-label">Personal Contact</label>
        <input type="number" name="memberContact" v-model="memberContact" label="Member Contact" placeholder=""
          single-line id="memberContact" :readonly="isEditable()" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" ondrop="return false;" onpaste="return false;"/>
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'REPORT'">
        <label class="ons-input-label">Comment</label>
        <input type="text" name="comment" v-model="comment" label="Comment" placeholder="" single-line id="comment"
          :readonly="isEditable()" />
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'PLAN'">
        <label class="ons-input-label">Name and contact</label>
        <input type="text" name="nameAndContactNumber" v-model="nameAndContactNumber" label="" placeholder=""
          single-line id="nameAndContactNumber" :readonly="isEditable()" />
      </ons-list-item>
      <ons-list-item class="input-items" v-if="planOrReportTab === 'PLAN'">
        <label class="ons-input-label">action</label>
        <input type="text" name="action" v-model="action" label="" placeholder="" single-line id="action"
          :readonly="isEditable()" />
      </ons-list-item>
      <div class="field-save-btn">
        <span class="previous-btn" id="previous-btn" @click="previousBtn">
          <i class="fas fa-chevron-circle-left"></i></span>
        <button type="submit" large color="blue white--text" class="member save-btn" id="btn">
          <i class="fas fa-cloud-upload-alt save-icon"></i>Save</button>
        <span class="next-btn" id="next-btn" @click="nextBtn">
          <i class="fas fa-chevron-circle-right"></i></span>
      </div>
    </ons-list>
  </form>
</div>